:root
    font:   font-family: "Hubot Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

img {
    width: 70%;
    height: auto;
    max-width: 1200;
}

ul.ingrediënten {
    list-style-type: circle;
}

h1, h2 {
    color: #6A8112;
}